.App {
  text-align: center;
}

body {
  background-image: url('./components/Pokemon\ Clouds\ Wallpaper.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%;
  background-size: 100% 100%;
  align-self: center;
  align-content: center;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.type-icon-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30pt;
}

.type-icon {
  transition: transform 1s;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.type-icon:hover {
  transform: rotate(1080deg) scale(1.2);
}